@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1100;
$md1: 1200;
$md2: 1024;
$md3: 768;
$md4: 640;
$md5: 375;

$black: #000000;
$bg-dark: #0B1F31;
$navyblue: #0E273D;

$darkorange: #D5642A;

$gray-03: #5E7488;
$gray-02: #8494A2;
$gray-01: #9FB0BF;

$white: #FFFFFF;
$bg-00: #F6FAFF;
$bg-0: #F0F7FF;
$bg-1: #E3F1FF;
$bg-2: #D3E8FF;
$bg-3: #B2D6FF;
$bg-4: #A1C8F2;
$bg-5: #90BBE9;
$bg-6: #7CAEE5;
$bg-7: #60A4F1;
$blue-new: #4A98F6;
$blue: #16406D;

$green-01: #CDF5D9;
$green-02: #95DBA9;
$green-03: #6ABC81;

$orange: #FFEEC4;
$orange-03: #FFDEBF;
$orange-04: #FFEDDD;

$red-01: #FFD7DF;
$red-02: #E5879C;
$red-03: #D94F6E;
$indianred: #E16460;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $navyblue;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&._loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: 1100px;
	margin: 0 auto;

	@media (max-width: ($md1 + px)) {
		padding: 0 50px;
	}

	@media (max-width: ($md2+px)) {}

	@media (max-width: ($md3+px)) {
		padding: 0 20px;
	}

	@media (max-width:($md5+px)) {
		padding: 0 10px;
	}

}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./components/header";
@import "./components/footer";
@import "./components/chat";


@import "./pages/home";
@import "./pages/production";
@import "./pages/gas";
@import "./pages/gas-shop";
@import "./pages/auction";
@import "./pages/reg-enter";
@import "./pages/agreement";
@import "./pages/history";

@import "./components/top-wrap";
@import "./components/banner";
@import "./components/news-articles";
@import "./components/info-links";
@import "./components/info-cards";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	background-color: $bg-0;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================