<footer class="footer">
	<div class="footer__container _container">
		<div class="footer__body">
			<div class="footer__logo">
				<picture>
					<source srcset="img/home/logo-big.svg" type="image/svg+xml" media="(min-width:640px)">
					<source srcset="img/header/logo.svg" type="image/svg+xml" media="(max-width:640px)">
					<img src="img/home/logo-big.svg" alt="Логотип">
				</picture>
			</div>
			<div class="footer__right">
				<div class="footer__contacts">
					<ul class="footer__list">
						<li class="footer__item">
							<div class="footer__label">Телефон:</div>
							<div class="footer__links">
								<div class="footer__tel"><a href="tel:+380442257775" class="footer__link">+38 044 225-77-75</a></div>
								<div class="footer__tel"><a href="tel:+380442255335" class="footer__link">+38 044 225-53-35</a></div>
							</div>
						</li>
						<li class="footer__item">
							<div class="footer__label">Факс:</div>
							<div class="footer__links">
								<div class="footer__tel"><a href="tel:+380442255335" class="footer__link">+38 044 225-53-35</a></div>
							</div>
						</li>
						<li class="footer__item">
							<div class="footer__label">Адреса:</div>
							<div class="footer__links">
								<a href="#" class="footer__link footer__link_dot">01010 Україна, Київ, вул. Московська 32/2</a>
							</div>
						</li>
					</ul>
					<ul class="footer__list-text list-text">
						<li class="list-text__item"><a href="#" class="list-text__link">Конфіденційність</a></li>
						<li class="list-text__item"><a href="#" class="list-text__link">Правила та умови</a></li>
						<li class="list-text__item"><a href="#" class="list-text__link">Документи</a></li>
					</ul>
				</div>
				<div class="footer__items">
					<div class="footer__socium"><a href="mailto:info@unb.ua" class="footer__link-soc">info@unb.ua</a></div>
					<div class="footer__socium"><a href="https://www.facebook.com/" class="footer__link-soc">Facebook</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__container _container">
			<div class="footer__wrapper">
				<div class="footer__text">Укрнафтобурiння © 2022</div>
				<div class="footer__text">Created by <span class="_icon-ic"></span></div>
			</div>
		</div>
	</div>
</footer>