<div class="popup popup_order-form _active">
	<div class="popup__content">
		<div class="popup__body">
			<div class="popup__title">Замовити газ</div>
			<form id="form-3" class="popup__form form-popup" action="#" method="POST" enctype="multipart/form-data">
				<div class="form-popup__line">
					<input id="name-2" class="form-popup__input-2" type="text" name="name" placeholder="placeholder">
					<label class="form-popup__label" for="name-2">Прізвище Імя Побатькові</label>
				</div>
				<div class="form-popup__line">
					<input id="company" class="form-popup__input-2" type="text" name="company" placeholder="placeholder">
					<label class="form-popup__label" for="company">Компанія, посада або ЄДРПОУ</label>
				</div>
				<div class="form-popup__line">
					<input id="tel-2" class="form-popup__input-2" type="tel" name="tel" placeholder="+38 (0">
					<label class="form-popup__label" for="tel-2">Телефон</label>
				</div>
				<div class="form-popup__line">
					<input id="email-2" class="form-popup__input-2" type="email" name="email" placeholder="placeholder">
					<label class="form-popup__label" for="email-2">Телефон</label>
				</div>
				<div class="form-popup__wrap"><button disabled form="form-3" type="submit" class="gas-btn heigh-m">замовити</button></div>
			</form>
			<div class="popup__close _icon-close"></div>
		</div>
	</div>
</div>