<div class="popup popup_callback-bid">
	<div class="popup__content">
		<div class="popup__body">
			<div class="popup__title">Нова ставка</div>
			<form id="form-1" class="popup__form form-popup">
				<div class="form-popup__line">
					<input id="volume" class="form-popup__input input-volume" type="text" name="Обсяг" placeholder="Наприклад, 200">
					<label class="form-popup__label" for="volume" data-label="тон">
						<span>Вкажіть обсяг</span>
						<div class="form-popup__tooltip tooltip tooltip_position">
							<div class="tooltip__icon _icon-warning"></div>
							<div class="tooltip__body tooltip__body_position">
								<p>🔥Щоб підвищіти шанси на перемогу, вкажіть бажаний обсяг та запропонуйте свою ціну</p>
							</div>
						</div>
					</label>
				</div>
				<div class="form-popup__calck">Сума: <span>0</span> грн</div>
				<button form="form-1" type="submit" class="form-popup__btn _icon-chevron">зробити ставку</button>
			</form>
			<div class="popup__close _icon-close"></div>
		</div>
	</div>
</div>

<div class="popup popup_callback-offer">
	<div class="popup__content">
		<div class="popup__body">
			<div class="popup__title">Cвоя пропозиція</div>
			<form id="form-2" class="popup__form form-popup" action="#" method="POST" enctype="multipart/form-data">
				<div class="form-popup__line">
					<input id="volume-2" class="form-popup__input input-volume-2" type="text" data-validate-field="volume" name="Обсяг" placeholder="Наприклад, 200">
					<label class="form-popup__label" for="volume-2" data-label="тон">
						<span>Вкажіть обсяг</span>
						<div class="form-popup__tooltip tooltip tooltip_position">
							<div class="tooltip__icon _icon-warning"></div>
							<div class="tooltip__body tooltip__body_position">
								<p>🔥Щоб підвищіти шанси на перемогу, вкажіть бажаний обсяг та запропонуйте свою ціну</p>
							</div>
						</div>
					</label>
				</div>
				<div class="form-popup__line">
					<input id="price" class="form-popup__input input-price" type="text" data-validate-field="price" name="Ціна" placeholder="Наприклад, 40 000">
					<label class="form-popup__label" for="price" data-label="грн/т">
						<span>Запропонуйте свою ціну </span>
						<div class="form-popup__tooltip tooltip tooltip_position">
							<div class="tooltip__icon _icon-warning"></div>
							<div class="tooltip__body tooltip__body_position">
								<p>🔥Щоб підвищіти шанси на перемогу, вкажіть бажаний обсяг та запропонуйте свою ціну</p>
							</div>
						</div>
					</label>
				</div>
				<div class="form-popup__calck form-popup__calck_price">Сума: <span>0</span> грн</div>
				<button form="form-2" type="submit" class="form-popup__btn _icon-chevron">зробити ставку</button>
			</form>
			<div class="popup__close _icon-close"></div>
		</div>
	</div>
</div>