<div class="popup popup_saccess _active">
	<div class="popup__content">
		<div class="popup__body">
			<div class="saccess">
				<div class="saccess__body">
					<div class="saccess__icon _icon-check-02"></div>
					<div class="saccess__title">Вашу заявку прийнято </div>
					<div class="saccess__text">
						<p>Ми зв'яжемося з Вами найближчим часом для узгодження всіх деталей.</p>
						<p>Час роботи компанії:</p>
						<p>Пн - Чт – 09:00-18:00</p>
						<p>Пт – 09:00-16:45</p>
						<p>Сб - Нд – Вихідні</p>
					</div>
					<div class="saccess__wrap"><button form="form-3" type="submit" class="gas-btn heigh-m">Добре</button></div>
				</div>
			</div>
			<div class="popup__close _icon-close"></div>
		</div>
	</div>
</div>