<section class="work">
	<div class="work__container">
		<div class="work__top  _container">
			<h2 class="work__title title-gas title-gas_size">Як працювати з магазином?</h2>
		</div>
		<div class="work__body">
			<div class="work__slider _swiper">
				<div class="work__slide">
					<div class="work__number"></div>
					<div class="work__label">Тисніть кнопку Замовити газ</div>
					<div class="work__text">Замовити газ може лише зареєстрований та авторизований коричтувач, тому, якщо ви у нас вперше, то вас буде перекинуто на сторінку реєстрації / авторизації</div>
				</div>
				<div class="work__slide">
					<div class="work__number"></div>
					<div class="work__label">Обирай кількість</div>
					<div class="work__text">Додати опис. Замовити газ може лише зареєстрований та авторизований коричтувач. Додати опис.</div>
				</div>
				<div class="work__slide">
					<div class="work__number"></div>
					<div class="work__label">Сплачуй</div>
					<div class="work__text">Додати опис. Замовити газ може лише зареєстрований та авторизований коричтувач. Додати опис. Додати опис. Замовити газ може лише зареєстрований та авторизований коричтувач. </div>
				</div>
				<div class="work__slide">
					<div class="work__number"></div>
					<div class="work__label">Тисніть кнопку Замовити газ</div>
					<div class="work__text">Замовити газ може лише зареєстрований та авторизований коричтувач, тому, якщо ви у нас вперше, то вас буде перекинуто на сторінку реєстрації / авторизації</div>
				</div>
				<div class="work__slide">
					<div class="work__number"></div>
					<div class="work__label">Тисніть кнопку Замовити газ</div>
					<div class="work__text">Замовити газ може лише зареєстрований та авторизований коричтувач, тому, якщо ви у нас вперше, то вас буде перекинуто на сторінку реєстрації / авторизації</div>
				</div>
				<div class="work__slide">
					<div class="work__number"></div>
					<div class="work__label">Тисніть кнопку Замовити газ</div>
					<div class="work__text">Замовити газ може лише зареєстрований та авторизований коричтувач, тому, якщо ви у нас вперше, то вас буде перекинуто на сторінку реєстрації / авторизації</div>
				</div>
			</div>
		</div>
		<div class="work__bottom _container">
			<div class="navigation">
	<a href="#" class="navigation__link">Докладно</a>
	<div class="navigation__buttons">
		<span class="navigation__btn navigation__btn_prev _icon-chevron"></span>
		<span class="navigation__btn navigation__btn_next _icon-chevron"></span>
	</div>
</div>
		</div>
	</div>
</section>