.form {
	&.form-write {
		max-width: 600px;

		.form__line {
			&:not(:last-child) {
				margin: 0px 0px 13px 0px;

				@media (max-width:($md3+px)) {
					margin: 0px 0px 30px 0px;
				}
			}

			&._focus {
				.form__input {
					padding: 0px 0px 9px 0px;
				}
			}
		}

		.form__label {
			font-size: 16px;
			top: 25px;
			line-height: 120%;

			@media (max-width:($md3+px)) {
				font-size: 18px;
			}
		}


		.form__input {
			font-size: 16px;
			padding: 0px 0px 10px 0px;
			line-height: 120%;

			@media (max-width:($md3+px)) {
				font-size: 18px;
			}

			&::placeholder {
				font-size: 16px;

				@media (max-width:($md3+px)) {
					font-size: 18px;
				}
			}
		}

		.form__text {
			margin: 0px 0px 13px 0px;
			padding: 20px 0px 0px 0px;

			@media (max-width:($md3+px)) {
				margin: 0px 0px 0px 0px;
			}
		}

		.form__row {
			padding: 15px 0px 0px 0px;
			align-items: flex-start;

			@media (max-width:($md3+px)) {
				padding: 45px 0px 0px 0px;
			}

			@media (max-width:($md4+px)) {
				flex-direction: row;
			}
		}

		.form__button {
			@media (max-width:($md4+px)) {
				margin: 0;
			}
		}
	}

	// .form__top

	&__top {
		padding: 0px 0px 80px 0px;
	}

	// .form__title

	&__title {
		font-size: 16px;
		line-height: 120%;
		color: $gray-02;
		padding: 0px 0px 15px 0px;
	}

	// .form__line

	&__line {
		padding: 21px 0px 0px 0px;
		position: relative;

		&:not(:last-child) {
			margin: 0px 0px 25px 0px;
		}

		&.files {
			padding-top: 0;
		}

		&._focus {
			.form__label {
				top: 0;
				font-size: 14px;
				line-height: 120%;

				&_color {
					color: $gray-02;
				}

				&_size {
					font-size: 16px;
				}
			}


			.input {
				&::placeholder {
					opacity: 1;
					visibility: visible;
				}

				padding: 0;
				border-bottom: 2px solid $navyblue;

				&._error {
					border-bottom: 2px solid $red-02;

				}
			}

			.input-textarea {
				padding: 8px 0;
			}
		}

		@media (max-width:($md4+px)) {
			&:not(:last-child) {
				margin: 0px 0px 40px 0px;
			}
		}
	}

	// .form__input

	&__input {}

	// .form__label

	&__label {
		font-size: 20px;
		line-height: 140%;
		position: absolute;
		top: 13px;
		left: 0;
		transition: all 0.3s ease-in-out 0s;
		cursor: pointer;

		&_size {
			top: 30px;
		}
	}

	// .form__label

	&__label-file {
		font-size: 14px;
		line-height: 120%;
		cursor: pointer;
		padding: 20px 0px 10px 0px;
		display: inline-block;
	}

	// .form__body

	&__body {
		padding: 0px 0px 60px 0px;

		&_padding {
			padding: 0px 0px 80px 0px;
		}
	}

	// .form__icon

	&__icon {
		position: absolute;
		right: 0;
		top: 26px;
		font-size: 20px;
		color: $gray-02;

	}

	// .form__text

	&__text {
		line-height: 135%;
		margin: 0px 0px 30px 0px;
	}

	// .form__link

	&__link {
		color: $navyblue;
		transition: color 0.3s ease-in-out 0s;
		border-bottom: 1.5px solid $navyblue;
		transition: border-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;

		@media (any-hover:hover) {
			&:hover {
				color: $blue-new;
				border-color: $blue-new;
			}
		}
	}

	&__row {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		&_position {
			justify-content: space-between;
		}

		@media (max-width:($md4+px)) {
			flex-direction: column;
		}
	}

	// .form__button

	&__button {
		margin: 0px 0px 0px 34px;

		@media (max-width:($md4+px)) {
			margin: 34px 0px 0px 0px;
		}
	}
}

.error-message-form {
	color: $red-03;
	line-height: 120%;
	padding: 5px 0px 0px 0px;
}