.item {
	flex: 0 1 50%;
	// .item__content

	&__content {
		display: block;

		@media (any-hover:hover) {
			&:hover {
				.item__img {
					img {
						transform: scale(1.05);
					}
				}

				.item__text {
					span {
						border-bottom-color: rgba(14, 39, 61, 1);
					}

					line-height: 128%;
				}
			}
		}
	}

	// .item__img
	&__img {
		padding: 0px 0px 61.4% 0px;
		margin: 0px 0px 15px 0px;
		overflow: hidden;

		img {
			transition: transform 0.5s ease-in-out 0s;
		}
	}

	// .item__text

	&__text {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		height: 45px;
		font-size: 18px;
		font-weight: 400;
		color: $navyblue;
		line-height: 120%;
		transition: line-height 0.3s ease-in-out 0s;

		span {
			transition: border-bottom 0.5s ease-in-out 0s;
			border-bottom: 2px solid rgba(14, 39, 61, 0);
		}

		@media (max-width:($md4+px)) {
			-webkit-line-clamp: 7;
			font-size: 16px;
			height: 135px;
		}

		@media (max-width: 425px) {
			height: 35px;
			-webkit-line-clamp: 2;
		}
	}
}