//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;

	&::before {
		content: "";
		background: rgba(4, 9, 16, 0.72);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}

	&.show {
		visibility: visible;
		overflow: auto;

		&::before {
			opacity: 1;
		}

		.popup__body {
			transform: scale(1);
		}
	}

	&._active {
		overflow: auto;
		visibility: visible;

		&::before {
			opacity: 1;
		}

		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}

	// .popup_team

	&_team {
		.popup__close {
			top: 15px;
			right: 15px;
		}

		.popup__body {
			background-color: $bg-0;
			border: none;
			padding: 60px 30px;
			border-radius: 0;
			max-width: 680px;

			@media (max-width:($md4+px)) {
				padding: 60px 20px;
			}
		}
	}

	// .popup_order-form

	&_order-form {
		.popup__title {
			font-size: 24px;
			padding: 0px 0px 15px 0px;
		}

		.popup__body {
			padding: 30px;

		}

		.popup__form {
			padding: 10px 0px 0px 0px;

			.form-popup__line {
				padding: 0;

				&:not(:first-child) {
					margin: 15px 0px 0px 0px;
				}
			}

			.form-popup__label {
				padding: 0px 0px 0px 8px;
				margin: 0px 0px 5px 0px;
			}
		}
	}

	// .popup_saccess

	&_saccess {
		.popup__body {
			padding: 30px;
		}
	}

	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: $bg-1;
		padding: 30px 0px 0 0px;
		width: 100%;
		max-width: 500px;
		border: 1px solid $white;
		border-radius: 19px;
	}

	// .popup__title

	&__title {
		font-size: 30px;
		line-height: 120%;
		color: $bg-dark;
		padding: 0px 30px 30px 30px;
	}

	// .popup__form

	&__form {}

	// .popup__close
	&__close {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 16px;
		right: 14px;
		cursor: pointer;
		z-index: 30;
		font-size: 24px;
	}
}

.form-popup {
	// .form-popup__line

	&__line {
		padding: 0 30px;
		display: flex;
		flex-direction: column-reverse;

		&:not(:first-child) {
			margin: 30px 0px 0px 0px;
		}

	}

	// .form-popup__label

	&__label {
		position: relative;
		padding: 0px 0px 0px 10px;
		margin: 0px 0px 10px 0px;
		display: flex;
		align-items: center;
		order: 3;
		cursor: pointer;

		&::before {
			content: attr(data-label);
			position: absolute;
			font-size: 22px;
			line-height: 138%;
			right: 20px;
			top: 34px;
		}

		span {
			flex: 1 1 auto;
			margin: 0px 10px 0px 0px;
		}
	}

	// .form-popup__tooltip

	&__tooltip {}


	// .form-popup__input

	&__input {
		padding: 0px 64px 0px 20px;
		width: 100%;
		height: 50px;
		font-size: 24px;
		border-radius: 33px;
		background-color: $white;
		outline: 1px solid $bg-2;
		transition: all 0.2s ease 0s;
		cursor: pointer;
		order: 2;

		@media (any-hover:hover) {
			&:hover {
				outline: 1px solid $bg-4;
			}
		}

		&:focus {
			outline: 3px solid $bg-4;
		}

		&::placeholder {
			color: #A9BDCE;
			letter-spacing: -0.01em;
			font-size: 24px;
		}



		&._error {
			outline: 1px solid $red-02;

			@media (any-hover:hover) {
				&:hover {
					outline: 1px solid $red-03;
				}
			}

			&:focus {
				outline: 3px solid $red-02;
			}

			&~.form-popup__label {
				color: $red-03;

				.tooltip__icon {
					color: $red-03;
				}
			}
		}

	}

	&__input-2 {
		padding: 0px 20px 0px 20px;
		letter-spacing: -0.01em;
		width: 100%;
		height: 50px;
		font-size: 20px;
		border-radius: 33px;
		background-color: $white;
		outline: 1px solid $bg-2;
		transition: all 0.2s ease 0s;
		cursor: pointer;
		order: 2;

		@media (any-hover:hover) {
			&:hover {
				outline: 1px solid $bg-4;
			}
		}

		&:focus {
			outline: 3px solid $bg-4;

			&~.form-popup__label {
				color: $gray-03;
			}
		}

		&::placeholder {
			font-size: 20px;
			line-height: 120%;
			letter-spacing: -0.01em;
			color: #A9BDCE;
		}



		&._error {
			outline: 1px solid $red-02;

			@media (any-hover:hover) {
				&:hover {
					outline: 1px solid $red-03;
				}
			}

			&:focus {
				outline: 3px solid $red-02;
			}

			&~.form-popup__label {
				color: $red-03;
			}
		}

	}

	// .form-popup__calck

	&__calck {
		padding: 15px 30px 0px 30px;
		margin: 0px 0px 50px 0px;
		font-weight: 500;
		font-size: 13px;
		line-height: 110%;
		text-transform: uppercase;
	}

	// .form-popup__wrap
	&__wrap {
		padding: 20px 0px 0px 0px;
		text-align: right;
	}

	// .form-popup__btn

	&__btn {
		padding: 21.5px 0px;
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		border-radius: 0px 0px 19px 19px;
		border-top: 1px solid $white;
		transition: background-color 0.3s ease-in-out 0s;

		@media (any-hover:hover) {
			&:hover {
				background-color: $bg-0;
			}
		}

		&::before {
			font-size: 24px;
			margin: -3px 0px 0px 10px;
		}
	}
}

.error-message {
	color: $red-03;
	font-size: 16px;
	line-height: 120%;
	padding: 10px 0px 0px 5px;
	order: 1;
}

.team-popup {
	display: flex;

	@media (max-width:($md4+px)) {
		display: block;
	}

	// .team-popup__left

	&__left {
		margin: 0px 30px 0px 0px;
		flex: 0 0 140px;

		@media (max-width:($md4+px)) {
			display: flex;
			margin: 0px 0px 30px 0px;
		}

		.team-popup__title {
			display: none;

			@media (max-width:($md4+px)) {
				display: block;
			}
		}

		.team-popup__label {
			display: none;

			@media (max-width:($md4+px)) {
				display: block;
			}
		}
	}

	// .team-popup__wrap

	&__wrap {
		@media (max-width:($md4+px)) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}

	// .team-popup__img

	&__img {
		@media (max-width:($md4+px)) {
			flex: 0 0 140px;
			margin: 0px 10px 0px 0px;
		}

		img {
			width: 100%;
		}
	}

	// .team-popup__right

	&__right {
		@media (max-width:($md4+px)) {
			.team-popup__title {
				display: none;
			}

			.team-popup__label {
				display: none;
			}
		}
	}

	// .team-popup__title

	&__title {
		font-weight: 500;
		font-size: 22px;
		line-height: 120%;
		letter-spacing: -0.01em;
		color: $bg-dark;
		padding: 0px 0px 5px 0px;
	}

	// .team-popup__label

	&__label {
		line-height: 120%;
		letter-spacing: -0.01em;
		margin: 0px 0px 15px 0px;

		@media (max-width:($md4+px)) {
			margin: 0;
		}
	}

	// .team-popup__text

	&__text {
		p {
			font-size: 14px;
			line-height: 140%;
			padding: 0px 0px 15px 0px;

			@media (max-width:($md4+px)) {
				font-size: 18px;
			}
		}
	}
}

.saccess {

	// .saccess__body

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	// .saccess__icon

	&__icon {
		font-size: 24px;
		margin: 10px 0px 10px 0px;
	}

	// .saccess__title

	&__title {
		margin: 0px 0px 10px 0px;
		font-size: 24px;
		line-height: 120%;
		color: $bg-dark;
	}

	// .saccess__text

	&__text {
		font-size: 15px;
		line-height: 120%;
		margin: 0px 0px 30px 0px;
	}

	// .saccess__wrap

	&__wrap {
		.gas-btn {
			width: 163px;
		}
	}
}

//====================================================================================================
//====================================================================================================