.tooltip {
	font-size: 16px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	padding: 0px 10px 0px 0px;
	height: 68px;
	position: absolute;
	left: 15px;


	&_position {
		height: auto;
		display: flex;
		padding: 0;
		margin-left: auto;
		width: 16px;
		position: relative;
		left: 0;

		@media (max-width:($md3+px)) {
			position: static;
		}
	}

	&.darck {
		.tooltip__body {
			background-color: $bg-dark;
			color: $bg-0;
			transform: translateX(-48%);
			width: 270px;
			font-size: 14px;

			@media (max-width:($md3+px)) {
				font-size: 16px;
				transform: translateX(0%);
				left: 0;
				width: 300px;
			}

			@media (max-width:($md4+px)) {
				width: 100%;
			}

			&::before {
				border-bottom-color: $bg-dark;
			}
		}
	}

	@media (any-hover:hover) {
		&:hover {
			.tooltip__body {
				top: 65px;
				opacity: 1;
				visibility: visible;
				pointer-events: auto;

				&_position {
					top: 40px;
				}
			}
		}
	}

	&.active {
		@media (max-width:($md3+px)) {
			.tooltip__body {
				top: 35px;
				opacity: 1;
				visibility: visible;
				pointer-events: auto;

				&_position {
					top: 35px;
				}
			}
		}
	}

	// .tooltip__icon

	&__icon {
		color: $bg-dark;
	}

	&__cloze {
		display: none;

		@media (max-width:($md3+px)) {
			display: block;
			position: absolute;
			right: 3px;
			top: 4px;
			font-size: 24px;
		}
	}

	// .tooltip__body

	&__body {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease-in-out 0s, top 0.3s ease-in-out 0s;
		position: absolute;
		width: 240px;
		padding: 15px;
		left: 50%;
		top: 75px;
		transform: translateX(-51.8%);
		line-height: 120%;
		background-color: $bg-1;
		border: 1px solid $bg-3;
		border-radius: 7px;
		z-index: 1;
		color: $bg-dark;
		box-shadow: 0px 11px 14px rgba(0, 41, 86, 0.27);

		&_position {
			transform: translateX(-50%);
			top: 50px;

			@media (max-width:($md3+px)) {
				top: 40px;
			}
		}

		@media (max-width:($md3+px)) {
			padding: 30px 20px;
			width: 300px;
		}

		&::before {
			content: '';
			border: 11px solid transparent;
			border-bottom: 11px solid $bg-1;
			transform: translateX(-50%);
			position: absolute;
			top: -22px;
			left: 50%;

			@media (max-width:($md3+px)) {
				display: none;
			}
		}
	}
}